.personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.personal .heading {
    text-align: center;
}

#profile-picture {
    border-radius: 2vmax;
    margin-left: 0.2vw;
}

#profile-pic-label {
    display: block;
    text-align: center;
    font-size: var(--large-font);
    font-weight: bolder;
    transition: opacity 0.3s ease;
    padding: 1vmin 1vmin;
    border-radius: 2vmax;
    background-color: #fff;
    color: darkblue;
}

#profile-pic-label:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fullname,
.location, 
.contact
{
    display: flex;
    justify-content: space-between;
}

.fullname div,
.location div,
.contact div
{
    flex-basis: 48%;
}

.profession {
    flex: 1;
}
#profession {
    width: 45%;
}