.summery-info {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.summery-info form textarea {
    height: 40vh !important;
}

#summery-field {
    flex: 1;
    width: 70%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 1vmax;
    outline: none;
    font-size: xx-large;
    line-height: 4vh;
}

#summery-field:focus {
    border: 3px solid lime;
}

.preview {
    margin-top: 8vh;
}