.summery-info {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vmax 0;
}

.summery-info form {
    width: 60%;
    height: 30vh;
    padding: 1vmax 2vmax;
    background-image: var(--input-textarea-bg);
    border-radius: 2vmax;
}

#summery-field {
    width: 100%;
    height: 90%;
    background-color: red;
    font-size: var(--xlarge-font);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
}

@media (max-width: 1000px) {
    .summery-info form {
        width: 80%;
    }
}