.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.job-title,
.work-duration
{
    display: flex;
    justify-content: space-between;
}

.job-title div,
.work-duration div {
    flex-basis: 48%;
}

.job-location {
    flex: 1;
}
#job-location 
{
    width: 45%;    
}